[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
joblib = "*"
scikit-learn = "*"
jupyter = "*"
pandas = "*"
nltk = "*"
seaborn = "*"
textblob = "*"
spacy = "*"
wordcloud = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
